@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Tanor Sans'),
      url('./font/TenorSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 14pt;
  font-family: "Tenor Sans";
}

.text {
  font-family: "Tenor Sans";
}

.header {
  height: 200px;
  background-color: #337a61; /* #11a676 */
}

.container-main {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.rodTagi {
  display: flex;
  align-items: center;
}
.rodTagi__title {
  margin: 0 10px 0 0;
}
