@font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Tanor Sans"), url("./font/TenorSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

body {
  min-height: 100vh;
  font-family: "Tenor Sans";
}

.text,
* {
  font-size: 12pt;
  font-family: "Tenor Sans";
  overflow-wrap: break-word;
}

.center {
  text-align: center;
}

.left {
  text-align: left !important;
}

.bold {
  font-weight: bold;
}

.errorInput {
  border: 1px solid lightcoral;
  background-color: pink;
}

table {
  border-spacing: 0;
  border: 1px solid black;
  border-right: 0;
  border-bottom: 0;
}

table td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

table td input {
  width: 100%;
  border-radius: 5px;
  /* border: 1px solid black; */
  border: 0;
  /* padding: 0 3px; */
}

.hidden {
  display: none;
}

.header {
  height: 200px;
  background-color: #1f8a70; /* #11a676 */
}

.header_logo {
  width: 200px;
  height: 200px;
}

.header_title {
  font-size: 18pt;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.header_block {
  width: 200px;
  height: 200px;
}

.container-header {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container-main {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.rodTagi {
  display: flex;
  align-items: center;
}
.rodTagi__title {
  width: 200px;
}
.rodTagi__list {
}
.vneshnee-eletrosnabzhenie {
}
.vneshnee-eletrosnabzhenie__title {
}
.vneshnee-eletrosnabzhenie__table {
}
.vneshnee-eletrosnabzhenie__vid-istochnika {
}
.vneshnee-eletrosnabzhenie__vid-istochnika__option {
}
.station {
}
.station__title {
}
.station__table {
}
.station__table td:nth-child(1) {
  width: 30%;
}
.garant-and-negarant-load {
}
.garant-and-negarant-load__title {
}

.station__table,
.vneshnee-eletrosnabzhenie__table,
.vneshnee-eletrosnabzhenie__vid-istochnika,
.garant-and-negarant-load__table {
  width: 100%;
}

.buttonResult {
  display: block;
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  margin: 50px auto;
  border: 1px solid black;
}

.buttonResult:hover {
  cursor: pointer;
}

.buttonResult:active {
  background-color: lightgray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
}

.footer {
}

.error-window.visible {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 300px;
  height: 150px;
  padding: 10px;
  z-index: 1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
}

.close-sign {
  position: absolute;
  top: 5px;
  right: 5px;
}

.close-sign:hover {
  cursor: pointer;
}

.error-window__title {
  color: red;
}

.error-window__list {
  padding: 10px 5px 10px 15px;
}

.tableResult {
}

.tableResult.visible {
  display: table;
}

.tableResult tr td {
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .header_logo {
    width: 150px;
    height: 150px;
  }
  .header_block {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 640px) {
  .text,
  * {
    font-size: 10pt;
  }
  .rodTagi__title {
    width: 150px;
  }
}

@media screen and (max-width: 460px) {
  .rodTagi__list {
    width: 200px;
  }
  .route-signs {
    font-size: 8pt;
  }
  .route-signs {
    width: 100%;
  }
}

@media screen and (max-width: 410px) {
  .rodTagi__list {
    width: 120px;
  }
}

@media screen and (max-width: 350px) {
  .text-colspan1 {
    font-size: 7pt;
  }
}
